<%= form_for(despesa) do |f| %>
  <% if despesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(despesa.errors.count, "error") %> prohibited this despesa from being saved:</h2>

      <ul>
      <% despesa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dt_fechamento %>
    <%= f.text_field :dt_fechamento %>
  </div>

  <div class="field">
    <%= f.label :nm_despesa %>
    <%= f.text_field :nm_despesa %>
  </div>

  <div class="field">
    <%= f.label :tp_despesa %>
    <%= f.text_field :tp_despesa %>
  </div>

  <div class="field">
    <%= f.label :dt_despesa %>
    <%= f.text_field :dt_despesa %>
  </div>

  <div class="field">
    <%= f.label :vl_despesa %>
    <%= f.text_field :vl_despesa %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
