<%= form_for(pedido) do |f| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item active">
      <a class="nav-link" href="#Pedido" role="tab" data-toggle="tab">Dados Pedido</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#Producao" role="tab" data-toggle="tab">Produção</a>
    </li>

  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="Pedido">
      <br>
        <%= render(:partial => "pedido", :locals => {:pedido => @pedido}) %>
        <%= f.submit  :class =>"btn btn-primary"%>

    </div>
    <!-- <div class="tab-pane" id="Producao">
      <br>
        <= render(:partial => "producao", :locals => {:pedido => @pedido}) %>
    </div> -->
  </div>



  <div class="actions">

  </div>

<script type="text/javascript">
  $(document).ready(function(){
     $(".totalvenda").keyup(function(){

       var qt_venda = $("#edit_qt_pedido").val();
       var qt_produzido = $("#edit_qt_produzido").val();
       var vl_venda = $("#edit_vl_venda").val().replace(',',".");
       var vl_custo = $("#edit_vl_custo").val().replace(',',".");
       $("#edit_vl_venda").val(vl_venda);
       $("#edit_vl_custo").val(vl_custo);

       $("#edit_vl_total_pedido").val(Number(parseFloat(qt_venda) * parseFloat(vl_venda)).toFixed(2));
       $("#edit_vl_total_venda").val(Number(parseFloat(qt_produzido) * parseFloat(vl_venda)).toFixed(2));

     });

     $(".totalfaturamento").keyup(function(){
       //alert("Entrou");
       var vl_venda  = $("#edit_vl_venda").val().replace(',',".");
       var vl_custo   = $("#edit_vl_custo").val().replace(',',".");
       //var vl_bruto   = $("#edit_vl_bruto").val().replace(',',".");
       var vl_despesa   = $("#edit_vl_despesa").val().replace(',',".");
       // var vl_liquido = $("#edit_vl_despesa").val().replace(',',".");
       $("#edit_vl_venda").val(vl_venda);
       $("#edit_vl_custo").val(vl_custo);
       $("#edit_vl_despesa").val(vl_despesa);

       $("#edit_vl_bruto").val(Number(parseFloat(vl_venda) - parseFloat(vl_custo)).toFixed(2));
       $("#edit_vl_liquido").val(Number(parseFloat($("#edit_vl_bruto").val()) - parseFloat(vl_despesa)).toFixed(2));

     });


   });


</script>

<% end %>
