<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @pedido_item.pedido_id %>
</p>

<p>
  <strong>Ds produto:</strong>
  <%= @pedido_item.ds_produto %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @pedido_item.produto_id %>
</p>

<p>
  <strong>Vl largura:</strong>
  <%= @pedido_item.vl_largura %>
</p>

<p>
  <strong>Vl comprimento:</strong>
  <%= @pedido_item.vl_comprimento %>
</p>

<p>
  <strong>Vl altura:</strong>
  <%= @pedido_item.vl_altura %>
</p>

<p>
  <strong>Tp papel:</strong>
  <%= @pedido_item.tp_papel %>
</p>

<p>
  <strong>Tp produto:</strong>
  <%= @pedido_item.tp_produto %>
</p>

<p>
  <strong>Qt pedido:</strong>
  <%= @pedido_item.qt_pedido %>
</p>

<p>
  <strong>Qt produzido:</strong>
  <%= @pedido_item.qt_produzido %>
</p>

<p>
  <strong>Vl custo:</strong>
  <%= @pedido_item.vl_custo %>
</p>

<p>
  <strong>Vl venda:</strong>
  <%= @pedido_item.vl_venda %>
</p>

<p>
  <strong>Vl total:</strong>
  <%= @pedido_item.vl_total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pedido_item.status %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @pedido_item.obs %>
</p>

<p>
  <strong>Dt prevista:</strong>
  <%= @pedido_item.dt_prevista %>
</p>

<p>
  <strong>Dt entrega:</strong>
  <%= @pedido_item.dt_entrega %>
</p>

<p>
  <strong>Dt produzido:</strong>
  <%= @pedido_item.dt_produzido %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @pedido_item.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @pedido_item.updated_by %>
</p>

<%= link_to 'Edit', edit_pedido_item_path(@pedido_item) %> |
<%= link_to 'Back', pedido_items_path %>
