<style >
  .fm_pedidos_abertos {
    width: 1200px;
    color: white;
    border: 1px solid #7c7c7c;
    padding: 2px;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .fm_pedidos_produzidos {
    width: 1200px;
    color: white;
    border: 1px solid #7c7c7c;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
  }


</style>


  <div class="row">
    <div class="fm_pedidos_produzidos" style="background-color: #444444;">
      <div class="alert">
        <h4 class="alert-heading">Pedidos - R$ <%= number_with_precision(@vl_total_pedidos, precision: 2) %>
          <div class="float-right">
            <%= form_tag '', :method => :get do %>
            <%= date_field_tag :dt_analise, @dt_analise, :placeholder =>'Informe Mês Analise...', :class=>"datepicker" %>
            <%= submit_tag 'Pesquisar' %>
            <% end %>
            <!-- <button type="button" name="button" class="btn-md"> Pesquisar</button> -->
          </div>
        </h4>

      </div>
    </div>
  </div>

  <div class="row">
    <!-- Content here -->
    <div class="card fm_pedidos_abertos" style="background-color: #38228c; " >
      <div class="alert">
            <h4 class="alert-heading">Em Aberto  - R$ <%= number_with_precision(@vl_pedidos_abertos, precision: 2) %>
            <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapseAbertos" aria-expanded="false" aria-controls="collapseAbertos">
              ...
            </button>
          </h4>
          <br>
            <div class="collapse show" id="collapseAbertos">
            <table class="table">
            <thead>
              <tr>
                <th>Dt Prevista</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Tipo Papel</th>
                <th>Tipo Produto</th>
                <th>Dimensões</th>
                <th colspan="1" class="text-center">Ações</th>
              </tr>
            </thead>

            <tbody >
              <% @pedidos_abertos.each do |pedido| %>
                <tr>
                  <td class="text-center"><%= pedido.dt_prevista.try(:strftime, "%d/%m/%Y") %></td>
                  <td><%= pedido.nm_cliente %></td>
                  <td><%= pedido.ds_produto %></td>
                  <td><%= pedido.tp_papel %></td>
                  <td><%= pedido.tp_produto %></td>
                  <td><%= pedido.vl_comprimento %>C X <%= pedido.vl_largura %>L X <%= pedido.vl_altura %>A </td>
                  <td class="text-center">
                    <a  href="/pedidos" target= "_blank" class="btn btn-primary  float-right">Produzir</a>
                </tr>
              <% end %>
              </tbody>
          </table>

       </div>
       <hr>
       <a href="/pedidos/new" target= "_blank" class="btn btn-secondary float-right">Novo Pedido </a>
      </div>


      <!-- <a href="/pedidos?utf8=✓&cliente=&status=Pedido&commit=Filtar+Registros" target= "_blank" class="btn btn-primary float-right">Detalhes</a> -->

  </div>

    <div class="card fm_pedidos_abertos" style="background-color: #7c7c7c;">
          <div class="alert">
              <h4 class="alert-heading">Em Produção - R$ <%= number_with_precision(@vl_pedidos_producao, precision: 2) %>
                <button class="btn btn-sm btn-primary float-right" type="button" data-toggle="collapse" data-target="#collapseProducao" aria-expanded="true" aria-controls="collapseProducao">
                  ...
                </button>

              </h4>
              <br>
                <div class="collapse show" id="collapseProducao">
                    <table class="table">
                  <thead>
                    <tr>
                      <th class="text-center">Dt Prevista</th>
                      <th>Cliente</th>
                      <th>Produto</th>
                      <th>Tipo Papel</th>
                      <th>Tipo Produto</th>
                      <th>Dimensões</th>

                      <th colspan="1" class="text-center">Ações</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @pedidos_producao.each do |pedido| %>
                      <tr>
                        <td class="text-center"><%= pedido.dt_prevista.try(:strftime, "%d/%m/%Y") %></td>
                        <td><%= pedido.nm_cliente %></td>
                        <td><%= pedido.ds_produto %></td>
                        <td><%= pedido.tp_papel %></td>
                        <td><%= pedido.tp_produto %></td>

                        <td><%= pedido.vl_comprimento %>C X <%= pedido.vl_largura %>L X <%= pedido.vl_altura %>A </td>

                        <td class="text-center">
                          <a  href="/pedidos=Filtar+Registros" target= "_blank" >Produzido</a>
                      </tr>
                    <% end %>
                    </tbody>
                </table>
              </div>
              <hr>
              <!-- <a  href="/pedidos?utf8=✓&cliente=&status=Em Produção&commit=Filtar+Registros" target= "_blank" class="btn btn-primary  float-right">Detalhes</a> -->
            </div>
    </div>
    </div>

  <div class="row">
    <div class="fm_pedidos_produzidos" style="background-color: #37543c;">
      <div class="alert"  >
          <h4 class="alert-heading">Produzido - R$ <%= number_with_precision(@vl_pedidos_produzidos, precision: 2) %></h4>
          <div class="table-responsive">
          <table class="table" id="grid_consulta">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Status</th>
                <th class="text-center">Dt Prevista</th>
                <th class="text-right">Vl Pedido</th>
                <th class="text-right">Vl Custo</th>
                <th class="text-right">Vl Venda</th>
                <th colspan="1" class="text-center">Ações</th>
              </tr>
            </thead>

            <tbody>
              <% @pedidos_produzidos.each do |pedido| %>
                <tr>
                  <td><%= pedido.nm_cliente %></td>
                  <td><%= pedido.ds_produto %></td>
                  <td><%= pedido.status %></td>
                  <td class="text-center"><%= pedido.dt_prevista.try(:strftime, "%d/%m/%Y") %></td>
                  <td class="text-right"><%= number_with_precision(pedido.vl_total_pedido, precision: 2) %></td>
                  <td class="text-right"><%= number_with_precision(pedido.vl_custo * pedido.qt_produzido, precision: 2) %></td>
                  <td class="text-right"><%= number_with_precision(pedido.vl_total_venda, precision: 2) %></td>

                  <td class="text-center">
                    <%= link_to 'Entregar', pedido, method: :produzir, data: { confirm: 'Confirma a Produção?' } %></td>
                </tr>
              <% end %>
              </tbody>
          </table>
        </div>
        <hr>
        <!-- <a  href="/pedidos?utf8=✓&cliente=&status=Em Produção&commit=Filtar+Registros" target= "_blank" class="btn btn-primary float-right">Detalhes</a> -->
      </div>
      </div>
  </div>
